* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* line 7, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
body {
    background-color: #020202;
    overflow-x: hidden;
}

/* line 10, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
html {
    overflow-x: hidden;
}

.container {
    max-width: 1312px;
    margin: 0 auto;
}


.button {
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
    border: none;
    background: #bc3cd8;
    background: linear-gradient(90deg, #bc3cd8 0%, #c54b8c 100%);
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s all;
}

/* line 26, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.button:hover {
    box-shadow: 0 0 30px #de80ec;
    transition: 0.5s all;
    border: solid 1px #de80ec;
    background: linear-gradient(90deg, #c54b8c 0%, #bc3cd8 100%);
}

/* line 31, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.SubHeader {
    margin-top: 16px;
}

/* line 34, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.SubHeader__Wrapper {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
}

/* line 39, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.SubHeader__Wrapper h2 {
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
}

/* line 44, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.SubHeader__Menu {
    display: flex;
    gap: 40px;
}

/* line 47, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.SubHeader button {
    width: 150px;
    height: 36px;
}

.select {
    display:flex;
    flex-direction: column;
    position:relative;
    width:160px;
    height:36px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}
  
.option {
    padding:0 30px 0 10px;
    min-height:40px;
    border-radius: 6px;
    display:flex;
    align-items:center;
    background-color:#020202;
    border:#BC3CD8 solid 1px;
    position:absolute;
    top:0;
    width:100%;
    pointer-events:none;
    order:2;
    z-index:1;
    transition:background .4s ease-in-out;
    box-sizing:border-box;
    overflow:hidden;
    white-space:nowrap;
    
}
  
  
.select:focus .option {
    position:relative;
    pointer-events:all;
}
  
.selectopt {
    opacity:0;
    position:absolute;
    left:-99999px;
}
  
input:checked + label {
    order: 1;
    z-index:2;
    background:#020202;
    border-top:none;
    position:relative;
    border:solid 1px #BC3CD8 
}
  
input:checked + label:after {
    content:'';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #BC3CD8;
    position:absolute;
    right:10px;
    top:calc(50% - 2.5px);
    pointer-events:none;
    z-index:3;
}
  
input:checked + label:before {
    position:absolute;
    right:0;
    height: 40px;
    width: 40px;
    content: '';
    background:#020202;
}

.Games {
    margin-top: 32px;
}

/* line 64, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.Games ul {
    padding: 0 16px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 28px;
}

/* line 71, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.Games__NameGames {
    width: 290px;
    height: 200px;
    background: url(../../assets/GamesImg/NameGame.svg) center center/cover no-repeat;
    display: flex;
    align-items: end;
    border-radius: 0px 0px 8px 8px;
}

.Games__NameGames:hover {
    transition: 0.5s all;
    transform: scale(1.1);
    box-shadow: 0 0 30px #6c5f6e
}


/* line 77, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.Games__AboutGame {
    width: 290px;
    height: 64px;
    display: flex;
    gap: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), rgba(170, 20, 240, 0.75);
    border-radius: 0px 0px 8px 8px;
}

/* line 84, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.Games__AboutGame div {
    width: 145px;
    padding: 13px 6px;
}

/* line 87, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.Games__AboutGame div p {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-decoration: underline;
    color: #fff;
}

/* line 93, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.Games__AboutGame .UseerName {
    margin-top: 6px;
}

/* line 95, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.Pages {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

/* line 102, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.Pages__Wrapper button {
    width: 32px;
    height: 32px;
    margin: 0 2px;
    background: #FFFFFF;
    border: 1px solid #DFE3E8;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
}

.Pages span {
    color: #BC3CD8;
}
.Pages .BtnNumberPages {
    font-size: 14px;
    font-weight: 500;
}

.Pages .BtnArrowRight img {
    width: 8px;
}

.Pages .BtnArrowLeft img {
    width: 8px;
    color: rgba(196, 205, 213, 1);
}

.Pages .BtnNumberPages__1 {
    border: solid 1px #BC3CD8;
}
.Pages .BtnArrowLeft {
    background-color: #919EAB;;
}

/* line 109, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.Pages__Wrapper button:hover {
    background: #919EAB;
    color: #C4CDD5;
    border: none;
}
