<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Footer.css">
    <link rel="stylesheet" href="../Media/media.css">
</head>
<body>
    <footer class="Footer" >
        <div class="container">
            <div class="Footer__Info">
                <h2>Explore product in new way</h2>
                <p>We specialize in creating visual identities for <br> producys and branda in your company</p>
                <form>
                    <input type="email" placeholder="Your Email" name="email">
                    <button type="submit" class="button">Start</button>
                </form>
            </div>
        </div>
    </footer>
</body>
</html>