* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1312px;
    margin: 0 auto;
}
/* line 6, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.button {
    height: 36px;
    width: 92px;
    border-radius: 6px;
    border: none;
    background: #bc3cd8;
    background: linear-gradient(90deg, #bc3cd8 0%, #c54b8c 100%);
    color: #fff;
    font-weight: 700;
    font-size: 11px;
    cursor: pointer;
    z-index: 1;
}

/* line 19, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.button:hover {
    box-shadow: 0 0 30px #de80ec;
    transition: 0.3s all;
    border: solid #fff 0.5px;
    background: #c54b8c;
    background: linear-gradient(90deg, #c54b8c 0%, #bc3cd8 100%);
}

.Dialog .Dialog__OverlayDialog {
    
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .80);
    z-index: 99;
  }

.Dialog__OverlayDialog__Close {
    position: absolute;
    width: 100%;
    height: 100%;
}
.Dialog {
    position: fixed;
    margin: 0 auto;
    width: 612px;
    height: 645px;
    background-color: #020202;
    position: absolute;
    padding: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: none;
}

/* line 720, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.Dialog__Wrapper {
    padding: 16px;
}

/* line 724, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.Dialog__Wrapper .DialogImg {
    width: 550px;
    height: 454px;
}


/* line 735, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.Dialog__AboutGame {
    margin-top: 10px;
}

/* line 737, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.Dialog__AboutGame span {
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    text-decoration: underline;
    color:#fff
}

/* line 740, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.Dialog__AboutGame p {
    color:#fff;
    margin-top: 10px;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    text-decoration: underline;
}

.Dialog__AboutUser {
    margin-left: 10px;
} 

.Dialog__AboutGame img {
    width: 35px;
    height: 35px;
}
.Dialog__User {
    margin-top: 10px;
    display: flex;
}


.Dialog__User a {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.Dialog__User p {
    margin-top: 0;
}
