* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1312px;
    margin: 0 auto;
}

.OverlayDialog {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .80);
    z-index: 99;
    display: none;
  }

.OverlayDialog__Close {
    position: absolute;
    width: 100%;
    height: 100%;
}
.OverlayDialog__Dialog {
    position: fixed;
    margin: 0 auto;
    width: 612px;
    height: 615px;
    background-color: #020202;
    position: absolute;
    padding: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 30px #cbc5cc;
    border-radius: 10px;
    z-index: 110;
    display: none;
}

/* line 720, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.OverlayDialog__Wrapper {
    padding: 16px;
}

/* line 724, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.OverlayDialog__Wrapper .DialogImg {
    width: 550px;
    height: 424px;
}


/* line 735, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.OverlayDialog__AboutGame {
    margin-top: 10px;
}

/* line 737, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.OverlayDialog__AboutGame span {
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    text-decoration: underline;
    color:#fff
}

/* line 740, ../../../../../../../../../../../../../Users/admin/Desktop/HomeWork/src/sass/style.sass */
.OverlayDialog__AboutGame p {
    color:#fff;
    font-weight: 500;
    font-size: 13px;
    text-decoration: underline;
}

.OverlayDialog__AboutUser {
    margin-left: 10px;
} 

.OverlayDialog__AboutGame img {
    width: 35px;
    height: 35px;
}
.OverlayDialog__User {
    margin-top: 10px;
    display: flex;
}


.OverlayDialog__User a {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.OverlayDialog__User p {
    margin-top: 0;
}
